body {
    font-family: 'VT323', monospace;
    background-color: blanchedalmond;
}

.nav-item a{
    font-size: 22px;
    color: white !important;
}

footer .img-fluid {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 13rem;
}

nav {
    text-transform: uppercase;
}

#img img {
    height: 20rem;
    width: 18rem;
}

.name {
    text-align: center;
}

.dropdown {
    display: inline-flex;
}

.create-btn {
    float: right;
}

.navbar {
    border-radius: 0px !important;
}


.buttons .btn-primary, .btn-secondary {

    background: #36c1ac !important;
    border-color: #36c1ac !important;
    border-style: solid !important;
    border-width: 8px 27px !important;
    color: #130d44 !important;
    line-height: 1.7 !important;
    text-decoration: none !important;
    transform: skew(-45deg) !important;
    transition: background .5s, color .5s !important;
    -webkit-transform: skew(-45deg) !important;

}

.buttons .btn-primary span, .btn-secondary span {
    -webkit-transform: skew(45deg);
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    transform: skew(45deg);
}

.mb-5, .my-5 {
    margin-bottom: 1rem !important;
    margin-top: 2rem !important;
}


.form-container {
    margin: 0 auto;
    max-width: 25em;
    transition: all .5s ease-in-out;
}

.btn-block {
    margin-left: 100px;
    width: 50%;
}


.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
    border-style: none;

}


div #valRace, #valGen, #valRole {
    text-transform: capitalize;
}

form #characterReg {
    text-align: -webkit-center;

}

.chat {
    position: absolute;
    bottom: 30px;
    right: 30px;
    float: right;
    width: 40%;
    border: 2px solid rgba(128, 125, 125, 0.21);
    box-shadow: inset 0px 0px 40px 40px #DBA632;
    padding: 5px;
}

.table {
    height: 250px;
    overflow: scroll;
}

.buttons .btn-primary:after{

    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.buttons .btn-primary:after{

    width: 80%;
    height: 0;
    top: 49%;
    left: 67%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-67%) translateY(-57%) rotate(90deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.buttons .btn-primary:hover:after{

    height: 260%;
    opacity: 1;

}
