body {
    font-family: 'Roboto', sans-serif;
    background-color: blanchedalmond;

}

footer .image {
    position: absolute;
    right: 0;
    width: 30vw;
    bottom: 0;
    height: 30%;
}

nav {
    text-transform: uppercase;
}

#img img {
    height: 20rem;
    width: 18rem;
}

.name {
    text-align: center;
}

.dropdown {
    display: inline-flex;
}

.create-btn {
    float: right;
}

.navbar {
    border-radius: 0px !important;
}


.buttons .btn-primary, .btn-secondary {

    background: #36c1ac !important;
    border-color: #36c1ac !important;
    border-style: solid !important;
    border-width: 5px 20px !important;
    color: #130d44 !important;
    line-height: 1.7 !important;
    text-decoration: none !important;
    transform: skew(-45deg) !important;
    transition: background .5s, color .5s !important;
    -webkit-transform: skew(-45deg) !important;

}

.buttons .btn-primary span, .btn-secondary span {
    -webkit-transform: skew(45deg);
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    transform: skew(45deg);
}

.mb-5, .my-5 {
    margin-bottom: 1rem !important;
    margin-top: 2rem !important;
}


.form-container {
    margin: 0 auto;
    max-width: 25em;
    transition: all .5s ease-in-out;
}

.btn-block {
    margin-left: 100px;
    width: 50%;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
    border-style: none;

}

div #valRace, #valGen, #valRole {
    text-transform: capitalize;
}

form {
    text-align: -webkit-center;
}

body {
    background: url("https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-36.gif?w=640&h=480");
    height: 100%;
    background-position: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ROW STYLING justify-content: start(left to right) end (right to left), center (center), reverse (all in reverse),
between (space between tags, aligned to left and right [text] space [text]), center (in the center),
around (space around tags) --> all should be done in row class
align-items: start(from top to bot), end (from bot to top), center(center), reverse (all in reverse)
TAG STYLING SELF
align-self-start, end, center (top align)
 */

/*
Order of styles
** Google Fonts**
**Bootstrap css**
**Custom Styles**

**jquery**
**popper**
**bootstrap**
</body>

/*
IMAGES RESPONSIVE
class="img-fluid"
 */

/*
DISPLAY:
d-none (hide), block (display in block),
 */

/*
@media (max-width){
h1 {
font-weight: 100;
font-size: 3rem;
}
}
 */

/*
JS for navbar scroll and fixed
fixed-top
$(function (){
$ (document).scroll(function(){
var $nav = $("mainNavbar");
$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
});
});

CSS - .navbar .scrolled{
background: ;
transition: background; 1s;
 */